@mixin phone {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 900px) {
    @content;
  }
}

.add-frinds-container {
  z-index: 1000 !important;
  height: 35rem;
  width: 55rem;
  background-color: rgba(196, 196, 196, 0.8);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  @include phone {
    overflow-y: scroll;
    // height: 80vh !important;
    width: 90vw !important;
  }

  @include tablet {
    width: 40rem;
  }

  .add-frinds-container__info {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .add-frinds-container__info__icon {
      cursor: pointer;
    }
    @include phone {
      padding: 0 17px;
    }
  }

  .add-frinds-container__content {
    form {
      display: flex;
      justify-content: center;
      input {
        width: 60%;
        height: 3rem;
        border: none;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
        outline: none;
        padding: 5px 0;
        font-size: 18px;
        @include phone {
          width: 90%;
          margin-top: 1rem;
        }
      }
    }
    .add-frinds-container__content__con {
      display: flex;
      justify-content: center;
      .no--user-error {
        font-size: 20px;
      }
      .add-frinds-container__content__result {
        list-style: none;
        padding: 0 10px;
        margin: 20px 0;
        width: 32rem;
        height: 25rem !important;
        max-height: 25rem !important;
        background-color: rgba(38, 37, 37, 0.124);
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        overflow-x: hidden;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 0.5em;
          height: 0.5em;
        }
        &::-webkit-scrollbar-track {
          margin: 20px 0;
          background: rgb(0, 0, 0);
          border: 4px solid transparent;
          background-clip: content-box; /* THIS IS IMPORTANT */
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(36, 34, 34, 0.2);
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 20px;
          &:hover {
            background: rgba(36, 34, 34, 0.3);
          }
        }

        li {
          margin: 0.8rem 0;
          margin-left: 2rem !important;
          border-radius: 7px;
          -webkit-border-radius: 7px;
          -moz-border-radius: 7px;
          -ms-border-radius: 7px;
          -o-border-radius: 7px;
          width: 28rem;
          display: flex;
          justify-content: space-between;
          background-color: rgba(255, 255, 255, 0.5);

          @include phone {
            margin-left: 0 !important;
            width: 75vw !important;
          }
          p {
            padding: 0 1rem;
          }
          .add-frinds-container__content__result--follow {
            cursor: pointer;

            &:hover {
              color: blue;
              text-decoration: underline;
            }
          }
        }
      }
    }
    @include phone {
      font-size: 14px;
      padding: 0;
      justify-content: flex-start;
      margin: -15px 0 0 18px;
    }
  }
}
