.post-container {
  width: 90%;
  height: 20em;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: default;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-box-shadow: 9px 11px 31px -22px rgba(0, 0, 0, 1);
  -moz-box-shadow: 9px 11px 31px -22px rgba(0, 0, 0, 1);
  box-shadow: 9px 11px 31px -22px rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2em 0;

  .post-container__info {
    padding: 0.6em 0 0 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .post-container__info__icon {
      width: 30px;
      height: 30px;
      cursor: pointer !important;
    }
  }

  .post-container__content {
    display: flex;
    justify-content: center;
    align-items: center;
    .post-container__content__text {
      padding: 0.5em 0.5em 0 1em;
      width: 80%;
      p {
        line-height: 18px;
      }
    }
  }

  .post-container__cta {
    width: 90%;
    margin-left: 1.5em;
    display: flex;
    margin-top: 0.5em;
    .post-container__cta__heart {
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin-right: 2em;
    }
    .post-container__cta__comment {
      width: 26px;
      height: 26px;
      cursor: pointer;
      margin-top: 0.2em;
    }
  }
}
