@mixin phone {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 900px) {
    @content;
  }
}

.forgot-password-container {
  .forgot-password-container__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .forgot-password-container__content__main {
      width: 70vw;
      height: 70vh;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include tablet {
        width: 85vw;
      }
      @include phone {
        justify-content: center;
      }
    }
    .forgot-password-container__content__main__svg {
      width: 30vw;
      @include phone {
        display: none;
      }
      @include tablet {
        width: 35vw;
      }
    }
  }
}
