@mixin phone {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 900px) {
    @content;
  }
}

.homepage-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .homepage-container__profile {
    cursor: default;
    margin-top: 20px;
    width: 20vw;
    height: 85vh;
    background-color: rgba(163, 163, 163, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    @include phone {
      display: none;
    }
    @include tablet {
      width: 30vw;
    }
    .homepage-container__profile__image {
      display: flex;
      padding: 20px 0 0 20px;
      .homepage-container__profile__image__icon {
        cursor: pointer !important;
        margin-top: 30px;
        margin-left: 10px;
      }
    }

    h3 {
      margin-left: 20px;
    }

    .homepage-container__profile__stat {
      .homepage-container__profile__stat__item {
        display: flex;
        align-items: center;
        margin: 0 0 0 20px;
        .add {
          font-size: 12px;
          cursor: pointer !important;
          margin-left: 20px;
          color: #0582ca;
          text-decoration: underline;
        }
        .homepage-container__profile__stat__item__info {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          .info {
            width: 50px;
          }
          p {
            margin-left: 15px;
          }
        }
      }
    }
    .homepage-container__profile__tags {
      .homepage-container__profile__tags__add {
        padding: 0 10px;
        max-width: 90%;
        text-align: end;
        margin-right: 30px;

        p {
          cursor: pointer !important;
          font-size: 14px;
          color: #0582ca;
          text-decoration: underline;
        }
      }
      .homepage-container__profile__tags-container {
        padding: 0 10px;
        max-width: 90%;
        display: flex;
        flex-wrap: wrap;
        @include tablet {
          max-width: 100%;
          padding: 0;
        }

        .homepage-container__profile__tags-container__item {
          margin: 5px;
        }
      }
    }
  }
  .homepage-container__feed {
    margin-top: 20px;
    width: 50vw;
    height: 85vh;
    background-color: rgba(163, 163, 163, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    @include phone {
      width: 90vw;
    }
  }
  .homepage-container__recent {
    @include phone {
      display: none;
    }
    @include tablet {
      display: none;
    }
    margin-top: 20px;
    width: 20vw;
    height: 85vh;
    background-color: rgba(163, 163, 163, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    .homepage-container__recent__post-container {
      margin: 30px 0 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
