@mixin phone {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 900px) {
    @content;
  }
}

.unauth-container {
  .unauth-container__illus {
    display: flex;
    justify-content: center;
    align-items: center;
    @include phone {
      img {
        width: 300px;
      }
    }
  }
  .unauth-container__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .unauth-container__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    @include phone {
      flex-direction: column;
    }

    .unauth-container__cta__btn {
      margin: 10px 20px;
      @include phone {
        margin: 5px;
      }
    }
  }
}
