.recent-liked-post-container {
  cursor: default;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin: 10px 0;
  -webkit-box-shadow: 9px 11px 31px -22px rgba(0, 0, 0, 1);
  -moz-box-shadow: 9px 11px 31px -22px rgba(0, 0, 0, 1);
  box-shadow: 9px 11px 31px -22px rgba(0, 0, 0, 1);
  padding: 10px 0 0 0;
  .recent-liked-post-container__title {
    margin-left: 10px;
  }
  .recent-liked-post-container__cta {
    display: block;
    margin-right: 20px;
    text-align: end;
    float: right;
    p {
      cursor: pointer !important;
      color: #0582ca;
      text-decoration: underline;
      font-size: 12px;
    }
  }
}
