@mixin phone {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 900px) {
    @content;
  }
}

.login-page-container {
  height: 90vh;
  .login-page-container__content {
    display: flex;
    align-items: center;
    justify-content: center;
    .login-page-container__content__main {
      width: 90vw;
      height: 85vh;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include tablet {
        width: 95vw;
      }
      @include phone {
        justify-content: center;
      }
      .login-page-container__content__main__intro {
        text-align: center;
        width: 50%;
        height: 100%;
        h2 {
          margin: 2em 0;
        }

        @include phone {
          display: none;
        }
        @include tablet {
          width: 42vw;
        }

        .login-page-container__content__main__intro--svg {
          margin: 50px auto 0px;
          width: 65%;
          height: 50% !important;

          @include tablet {
            width: 90%;
            margin: 5rem auto 0px;
          }
        }
      }

      .login-page-container__content__main__CTA {
        width: 50%;
        height: 100%;

        @include phone {
          width: 90vw;
        }
        .login-page-container__content__main__CTA--info {
          text-align: center;
          margin: 2em 0;
          h2 {
            visibility: hidden;
            margin: 2em 0;
            @include phone {
              visibility: visible;
            }
          }
        }
        .login-page-container__content__main__CTA--form {
          display: flex;
          justify-content: center;

          @include tablet {
            margin: 6rem auto 0;
          }
        }
      }
    }
  }
}
