.profile-picture-container {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  font-weight: 400;
  font-size: 14px;
  color: #363a3f;
  background-color: #cacaca;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
}

.profile-picture-container.small {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  font-size: 12px;
}

.profile-picture-container span p {
  width: 60px;
  height: 60px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.profile-picture-container.small span p {
  width: 32px;
  height: 32px;
}

.profile-picture-container img {
  width: 100%;
  height: 100%;
  float: left;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.profile-picture-container.small img {
  width: 100%;
  height: 100%;
  float: left;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
